.c-green{
  color: blue;
}

.c-red{
  color: red;
}

.font-bold{
  font-weight: bold;
}
.font-normal{
  font-weight:initial;
}
.font-cursive{
  font-style:italic;
}

.font-normal{
  font-family: initial;
}
